<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand text-light" routerLink="" routerLinkActive = "active">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link text-light" routerLink="blog" routerLinkActive = "active">Blog <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="work" routerLinkActive = "active">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="portfolio" routerLinkActive = "active">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled text-light" routerLink="user" routerLinkActive = "active">User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled text-light" routerLink="about" routerLinkActive = "active">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid text-center" style="height: 350px;">  
    <h3 class="display-3">Welcome to GeekWorld ! </h3>
  </div>

  <div class="container mt-5">
    <router-outlet class="text-light"></router-outlet>
    <!-- <button (click)="click()">Activate!</button> -->
    <!-- <template #alertContainer></template>
    <button class="btn btn-rpimary" (click)="CreateComponent('Sucess')">Create Success Alert</button>
    <button class="btn btn-rpimary" (click)="CreateComponent('Danger')">Create Danger Alert</button> -->
    <!-- <app-user></app-user> -->
  </div>
